html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Helvetica", sans-serif;
  font-size: $base-font-size;
  line-height: 1.2;
}
img{
  max-width: 100%;
}